div.news-list img.preview_picture
{
	float:left;
	margin:0 4px 6px 0;
}
.news-date-time {
	color:#486DAA;
}
.foto1div {
	border: 1px solid #fff;
    background: #E1E1E2;
	height: 124px;
	width: 164px;
    padding: 7px;
	position: relative;	
	text-align: left;
	margin: 0px 10px 5px 10px;
	-webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.345);
	-moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.345);
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.345);
}
.foto1div img {
	border: 2px solid #FFFFFF;
}
.foto_hover {
	top: 0px;
	left: 0px;
	position: absolute; 
	opacity: 0;
	border: 7px solid #c60b00;
	height: 124px;
	width: 164px;
}
.foto_hover_img {
	position: absolute;
	background:url(/bitrix/templates/thomifelgen/img/image_icon.png) no-repeat bottom right #c60b00;
	bottom: 0px;
	display: block;
	height: 21px;
	right: 0px;
	width: 23px;
}

.foto_text {
	font-size: 13px;
	width: 170px;
	text-align: center;
	margin-left: 12px;
}
