div.star-active
{
	cursor: pointer;
}

div.star-empty
{
	background-image: url(images/starnorate.png);
	width:25px;
	height:25px;
	overflow:hidden;
}

div.star-voted
{
	background-image: url(images/starrate.png);
	width:25px;
	height:25px;
	overflow:hidden;
}

div.star-over
{
	background-image: url(images/starover.png);
	width:25px;
	height:25px;
	overflow:hidden;
}