table.table_services{}
table.table_services td{text-align:justify;vertical-align:top;}
img.img_text_left{margin:0px 0px 0px 15px;}
img.img_text_right{margin:0px 15px 0px 0px;}
img.img_text_left_bottom{margin:0px 0px 1em 15px;}
img.img_text_right_bottom{margin:0px 15px 1em 0px;}