.question_list, .question_list a {
    /*font-size: 14px;*/
    /*color: #000;*/
    /*font-family: Arial;*/
}
.question_list {
    /*padding: 30px;*/
}
.question_list {
    /*min-width: 580px;*/
}
.question_list .title-form {
    font-size: 18px;
}
.question_list .title-form {
    margin-bottom: 10px;
}
.question_list a {
    color: #000000;
    text-decoration: none;
    border-bottom: 1px dashed #000000;
}
.question_list form.question .bg_top {
    background: none repeat scroll 0% 0% #ECECEC;
    padding: 28px;
}
.question_list form.question .qw_block:first-child {
    margin-top: 0px;
}
.question_list form.question .bg_top .qw_block:first-child .title {
    margin-top: 0px;
}
.question_list form.question .qw_block .title {
    font-size: 14px;
    font-style: italic;
    color: #1D71B7;
}
.question_list form.question .qw_block .title {
    margin-bottom: 6px;
    margin-top: 18px;
    text-align: left;
}
.question_list .qw_input {
    margin-right: 22px;
}
.question_list form.question input[type="text"] {
    color: #575756;
    font-size: 1.28em;
    padding: 5px 15px;
}
.question_list form.question input[type="text"], form.question textarea {
    border-radius: 5px;
    border: 1px solid #FFF;
}
.question_list .qw_input input,
.question_list .qw_input select {
    width: 100%;
    display: block;
}
.question_list .qw_textarea {
    margin-right: 22px;
}
.question_list form.question textarea {
    color: #3C3C3B;
    padding: 10px;
    height: 90px;
    resize: none;
}
.question_list form.question input[type="text"], form.question textarea {
    border-radius: 5px;
    border: 1px solid #FFF;
}
.question_list .qw_textarea textarea {
    width: 100%;
}
.qw_bottom-wrapper {
    background: none repeat scroll 0% 0% #D14A42;
}
.qw_bottom-wrapper {
    text-align: center;
    padding: 0px 15px 13px;
}
form.question .bottom-form {
    display: inline-block;
}
form.question .qw_block:first-child {
    margin-top: 0px;
}
form.question .bottom-form .qw_block {
    float: left;
    margin: 0px 15px;
}
form.question .qw_block.white .title {
    color: #FFF;
}
form.question .bottom-form .qw_block input {
    /*width: auto;*/
}
.qw_bottom-wrapper .bottom-form .qw_input {
    margin-right: 0px;
}
form.question .title span {
    color: #000;
}
form.question table, form.question .capcha {
    background: none repeat scroll 0% 0% #D14A42;
    position: relative;
}
form.question .capcha {
    text-align: center;
    padding-bottom: 6px;
}
form.question .capcha .button {
    position: relative;
    display: inline-block;
}
form.question .button {
    margin-bottom: 10px;
}
form.question .capcha .button span {
    background: url("images/block.png") no-repeat scroll 0px 0px transparent;
    position: absolute;
    left: 11px;
    top: 12px;
    width: 14px;
    height: 22px;
}
.question_list .qwestion_button.block {
    padding-left: 30px;
}
.question_list input[type="button"], .question_list input[type="submit"] {
    outline: medium none;
}
.question_list .qwestion_button {
    border-radius: 5px;
    padding: 9px 15px;
    background: linear-gradient(to top, #BEBDBD, #EEEEEF) repeat scroll 0% 0% transparent;
    display: inline-block;
    color: #000;
    border-width: medium medium 2px;
    border-style: none none solid;
    border-color: -moz-use-text-color -moz-use-text-color #7E7B7C;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
}
.question_list .qwestion_button,
.question_list .button {
    cursor: pointer;
}
.question_list .qwestion_button {
    margin-top: 5px;
}
.qw_textarea textarea {
    width: 100%;
}


@media all and (max-width:640px) {
    .question_list form.question .bottom-form .qw_block{float:none;}
    .question_list .faq .cover .person{display:none;}
    .question_list .faq .cover{margin-right:67px;}
    .question_list form.question .bottom-form{width:100%;}
    .question_list form.question .bottom-form .qw_block input{width:100%;}
    .question_list .faq .faq_ascs{float:none;}
    .question_list .faq .data{float:none;}

}