.question_list .error{font-size: 1.28em;}
.question_list, .question_list a{font-size: 14px; color: #000000;font-family:Arial;}
.question_list a{color: #36A8E0; text-decoration: none; border-bottom: 1px dashed #36A8E0;}
.question_list .block_list_question{}
.question_list .block_list_question a.list_qwestion{margin-bottom: 16px;}
.question_list .block_list_question a.list_qwestion.no_ansver{color: #E84E1B; border-bottom: 1px dashed #E84E1B;}

.question_list .qwestion_button{
    border-radius: 5px;
    padding: 9px 15px;
    background: #D5D4D4;
    background: linear-gradient(to top, #BEBDBD, #EEEEEF); 
    border: none;
    display: inline-block;
    color: #000000; 
    border: none;
    border-bottom: 2px solid #7E7B7C; 
}

.question_ok, .question_error{font-size: 1.28em; color: green;}
.question_error{color: #E84E1B;}

.question_list .qwestion_button:hover{background: linear-gradient(to top, #BEBDBD, #EFEEEE); border-bottom: 1px solid #7E7B7C; padding-bottom: 10px;}
.question_list .qwestion_button:active{background: linear-gradient(to top, #D4D3D3, #FFFFFF); border-bottom: none; padding-bottom: 11px;}

.question_list .qwestion_button.block{    
    padding-left: 30px;
}

.question_list .faq{margin-bottom: 17px;}
.question_list .faq .faq_theme{font-size: 1.28em;}
.question_list .faq .faq_theme.no_ansver{}
.question_list .faq .faq_ascs{font-style: italic; margin: 13px 0 7px 0;}

.question_list .faq .cover{}
.question_list .faq .cover .data{font-size: 0.78em; color: #36A8E0;}



.question_list .faq .cover .faq_qwestion:after, 
.question_list .faq .cover .faq_ansver:after{
    background: url('../images/zagogulinka_blue.png') no-repeat top left;
    width: 18px;
    height: 29px;
    position: absolute;
    bottom: -1px;
    content: "";
}

.question_list .faq .cover .faq_qwestion:after{background-position: -51px 0px; left: -10px;}
.question_list .faq .cover .faq_ansver:after{background-position: -107px 0px; right: -9px;}
.question_list .faq .cover .faq_ansver.no_ansver:after{right: -9px; background-position: 0 0px;}

.question_list .faq .cover .faq_qwestion{color: #fff; background: #36A8E0; float: left;}

.question_list .faq .cover .faq_ansver{background: #ECECEC;}
.question_list .faq .cover .faq_ansver.no_ansver{background: #E84E1B;}
.question_list .faq .cover .person{font-size:14px;font-style:italic;}
.question_list .faq .cover .person img{}
.question_list .faq .cover .person .name_person{}

.question_list .faq .up_arrow{background: url('../images/arrow_blue.png') no-repeat left center; padding-left: 15px;}
.question_list .faq a.up{font-size: 0.78em;}

.question_list .title-form{font-size:18px;}

form.question .bg_top{background: #ECECEC; padding: 28px;}
form.question .qw_block .title{font-size:14px;font-style:italic;color:#1D71B7;}
form.question .qw_block.white .title{color:#FFFFFF;}
form.question .title span{color: #E5332A;}
form.question input[type=text].error, form.question textarea.error{border-color: #E5332A;}
form.question input[type=text]{
    color: #575756;
    font-size: 1.28em;
    padding: 5px 15px;    
    
}
form.question textarea{
    color: #3C3C3B;
    padding: 10px; 
    height: 90px;
    resize: none;   
}
form.question table{border-spacing: 0; border-collapse: collapse; padding: 20px 28px; display: block;}
form.question table td{vertical-align: top; text-align: left; padding: 0 12px;}
form.question table td input[type=text]{width: auto;}
form.question table td .title{font-style: italic; color: #fff;}

form.question table, form.question .capcha{background: #36A8E0; position: relative;}
form.question .capcha .button{position: relative; display: inline-block;}
form.question .capcha .button span{
    background: url('../images/block.png') no-repeat 0px 0px;
    position: absolute;
    left: 11px;
    top: 12px;
    width: 14px;
    height: 22px;
}

form.question .capcha span.yes{
    background-position: 0px -68px;
}

/*I robot*/
.capcha .button.yes span{background-position:0 -68px !important;}
.capcha_sub .title{font-style:italic;}
div.qw_perek{position: relative;}
div.qw_perek div.check{border:2px solid #1D71B7; background: #1D71B7; width: 56px; height: 20px; position: absolute; cursor: pointer;
-webkit-border-radius: 15px;
-moz-border-radius: 15px;
border-radius: 15px;}
div.qw_perek div.check.sel{background-color: #fff;}
div.qw_perek div.check span{position: absolute; background-color: #fff; border-radius: 20px; cursor: pointer; left: 0; top: 0; display: inline-block; width: 20px; height: 20px;}
div.qw_perek div.check.yes{border-color:#94C01F;background:#94C01F;}
div.qw_perek div.check.yes span{background-color: #FFFFFF; left: 36px;} 
div.qw_perek div.check div.text{position: absolute; left: 27px; top: 2px; color: #fff;font-size:12px;}
div.qw_perek div.check.yes div.text{color: #FFFFFF; left: 13px;}
/*end I robot*/

.qw_bottom-wrapper{background: #36A8E0;}
