ul.breadcrumb-navigation
{
    font-family: Arial;
    font-size: 12px;
	padding:0; margin:0;
	padding-top:3px;
	list-style:none;
    color: #d52b1e;
}

ul.breadcrumb-navigation li
{
	display:inline;
}

ul.breadcrumb-navigation a
{
    
	color: #999;
    text-decoration: none;
}

ul.breadcrumb-navigation span
{
	
}